<nav>
  <div class="top">
    <div class="left">
      <a href="/{{ site.baseurl }}" class="title">TAR</a>
    </div>
    <div class="right">
      <ul>
        <li><a href="https://www.facebook.com/texasaerialrobotics/">fb</a></li>
        <li><a href="https://twitter.com/TexasAR_">tw</a></li>
      </ul>
    </div>
  </div>
  <div class="bottom">
    <ul>
      <li><a href="{{ site.baseurl }}/"{% if page.permalink == {{ site.baseurl }} %}class="active"{% endif %}>Home</a></li>
      <li><a href="{{ site.baseurl }}/updates"{% if page.title == 'Updates' %}class="active"{% endif %}>Updates</a></li>
      <li><a href="{{ site.baseurl }}/contact"{% if page.title == 'Contact' %}class="active"{% endif %}>Contact</a></li>
    </ul>
  </div>
</nav>
