---
---

// Imports
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|PT+Serif:400,700');

// Variables
$title-font: PT Serif;
$copy-font: Karla;
$light-gray: #5b5b5b;
$dark-gray: #9C9C9C;
$darker-gray: #525252;
$bg-color: #000; //#fff;
$ut-color: #c57230;
$ut-color-darker: #b25d22;

// Basic
* {
  margin: 0;
  border: 0;
  padding: 0;
}
html, body {
  width: 100%;
  overflow-x: hidden !important;
}

// Fonts
nav, .content p, ul {
  font-family: $copy-font;
  line-height: 1.4;
  .active {
    font-weight: 700;
  }
}
nav .bottom ul li {
  font-size: 1.1rem;
}
h1, h2, h3 {
  font-family: $title-font;
}
footer {
  font-family: $title-font;
}
a {
  text-decoration: none;
}

// Layout
section, nav .top, nav .bottom, footer {
  width: 700px;
  margin: 0 auto;
}
hr {
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-top: 30px;
}

// Drone 3D Model
#model {
  pointer-events: none !important;
  padding: 0;
  margin: auto;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  canvas {
    margin: 20px auto;
    display: block;
  }
}

// Navigation
nav {
  top: 0;
  width: 100%;
  background: $bg-color;
  margin: 0;
  padding: 5px 0 5px 0;
  z-index: 3;
  border-bottom: 1px solid rgba(0,0,0,.05);
  ul {
    list-style: none;
  }
  .icon-twitter, .icon-fb {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    fill: $dark-gray;
    &:hover {
      fill: $darker-gray;
    }
  }
  .top {
    padding: 15px !important;
    display: flex;
    .left {
      flex-grow: 1;
      justify-content: flex-start;
      align-self: center;
      a {
        display: flex;
      }
    }
    .right {
      justify-content: flex-end;
      align-self: center;
    }
  }
  .bottom {
    padding: 12px !important;
    border-top: 1px solid rgba(0,0,0,.05);
    li {
      margin-right: 10px;
      a {
        color: $dark-gray;
        &:hover {
          color: $darker-gray;
        }
      }
    }
  }
  li {
    display: inline;
  }
  #logo {
    shape-rendering: geometricPrecision;
    height: 60px;
    width: auto;
    transition: 0.2s all ease;
    .ani_drone_anticlock, .ani_drone_clock {
      transition: 0.2s all ease;
    }
    &:hover .ani_drone_anticlock, &:hover .drone-frame, &:hover .ani_drone_clock  {
      fill: $ut-color;
    }
  }
}

// Footer
footer {
  text-align: center;
  padding: 40px 0;
  color: $light-gray;
  p {
    font-weight: 700;
  }
  small {
    font-weight: 400;
  }
  .footerhr {
    margin-bottom: -40px;

  }
  #dronesvg {
    width: 50px;
    padding: 15px;
    background: $bg-color;
    height: auto;
    fill: $light-gray;
  }
}

// Content
.header_img {
  width: 100%;
  height: auto;
}
img[src$='#fifty'] {
  width: calc(50% - 40px) !important;
  margin: 10px !important;
}
.content {
  padding: 0 0 40px 0;
  p, a, ul li {
    font-size: 20px;
  }
  p {
    margin: 15px 0;
  }
  a {
    color: $ut-color;
    font-weight: bold;
    &:hover {
      color: $ut-color-darker;
    }
  }
  .embed-container {
    margin: 25px 0;
  }
  h1, h2, h3, h4, h5 {
    margin: 30px 0 10px 0;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.9em;
  }
  img {
    width: 100%;
    height: auto;
    margin: 10px auto;
  }
}

// Posts
#post_container {
  list-style: none;
  li:last-child {
    border: 0;
  }
  li {
    border-bottom: 1px solid rgba(0,0,0,.1) ;
    .header {
      h2 {
        a {
          font-size: 1.8rem;
        }
        line-height: 1;
        margin-bottom: 5px;
      }

    }
  }
}
.date {
  font-size: 1rem;
  color: $light-gray;
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}
.header {
  margin-bottom: 30px;
}

// Animations and Transitions
.ani_drone_clock, .ani_drone_anticlock {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
}
@-webkit-keyframes rotating-clock /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating-clock {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating-anticlock /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotating-anticlock {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

// Media Queries
@media only screen and (max-width: 750px) {
  section, nav .top, nav .bottom, footer {
    width: calc(100% - 60px);
  }
  .content p {
    font-size: 1.1rem;
  }
  #logo {
    height: 40px !important;
  }
  img[src$='#fifty'] {
    width: 100% !important;
    margin: 0 !important;
  }
}

// Video embeds
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
